///* VANGAURD FONTS */
//
//@font-face {
//  font-family: 'Averta-Black';
//  src:  url("../fonts/typeface/AvertaStd-Black.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Averta-BlackItalic';
//  src:  url("../fonts/typeface/AvertaStd-BlackItalic.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Averta-Bold';
//  src:  url("../fonts/typeface/AvertaStd-Bold.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Averta-BoldItalic';
//  src:  url("../fonts/typeface/AvertaStd-BoldItalic.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'AvertaStd-ExtraBold';
//  src:  url("../fonts/typeface/AvertaStd-ExtraBold.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Averta-ExtraBoldItalic';
//  src:  url("../fonts/typeface/AvertaStd-ExtraBoldItalic.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'AvertaStd-Extrathin';
//  src:  url("../fonts/typeface/AvertaStd-Extrathin.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'Averta-ExtrathinItalic';
//  src:  url("../fonts/typeface/AvertaStd-ExtrathinItalic.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'AvertaStd-Light';
//  src:  url("../fonts/typeface/AvertaStd-Light.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'AvertaStd-LightItalic';
//  src:  url("../fonts/typeface/AvertaStd-LightItalic.otf") format('otf');
//  font-display: swap;
//}
//
//
//@font-face {
//  font-family: 'AvertaStd-Regular';
//  src:  url("../fonts/typeface/AvertaStd-Regular.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'AvertaStd-RegularItalic';
//  src:  url("../fonts/typeface/AvertaStd-RegularItalic.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'AvertaStd-Semibold';
//  src:  url("../fonts/typeface/AvertaStd-Semibold.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'AvertaStd-SemiboldItalic';
//  src:  url("../fonts/typeface/AvertaStd-SemiboldItalic.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'AvertaStd-Thin';
//  src:  url("../fonts/typeface/AvertaStd-Thin.otf") format('otf');
//  font-display: swap;
//}
//
//@font-face {
//  font-family: 'AvertaStd-ThinItalic';
//  src:  url("../fonts/typeface/AvertaStd-ThinItalic.otf") format('otf');
//  font-display: swap;
//}
//

//@font-face {
//  font-family: 'Sun Sans';
//  src:  url("Gilroy/Gilroy-Medium.otf") format('otf');
//  src: url('Gilroy/Gilroy-Medium.ttf') format('truetype'),
//  url('Gilroy/Gilroy-Medium.woff') format('woff'),
//  url('Gilroy/Gilroy-Medium.woff2') format('woff2'),
//  url('Gilroy/Gilroy-Medium.eot') format('embedded-opentype');
//  font-display: swap;
//}


//@font-face {
//  font-family: 'Sun Sans';
//  src:  url("sunSans/SunSansDisplay-Medium.otf") format('otf');
//  src: url('sunSans/SunSansDisplay-Medium.ttf') format('truetype'),
//  url('sunSans/SunSansDisplay-Medium.woff') format('woff'),
//  url('sunSans/SunSansDisplay-Medium.woff2') format('woff2'),
//  url('sunSans/SunSansDisplay-Medium.eot') format('embedded-opentype');
//  font-display: swap;
//}

@font-face {
  font-family: 'Sun Sans';
  src: url('Avant/ITCAvantGardeStd-Md.eot');
  src: url('Avant/ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
  url('Avant/ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md') format('svg'),
  url('Avant/ITCAvantGardeStd-Md.ttf') format('truetype'),
  url('Avant/ITCAvantGardeStd-Md.woff') format('woff'),
  url('Avant/ITCAvantGardeStd-Md.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}




//@font-face {
//  font-family: 'Mont-RegularItalic';
//  src:  url("../fonts/typeface/Mont/Mont-RegularItalic.ttf") format('ttf');
//  font-display: swap;
//}
